<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zwm.dao.DiscussPostMapper">
    <sql id="selectFields">
        id, user_id, title, content, type, status, comment_count, create_time, score
    </sql>

    <sql id="insertFields">
        user_id, title, content, type, status, comment_count, create_time, score
    </sql>

    <select id="selectDiscussPosts" resultType="discussPost">
        select <include refid="selectFields"/>
        from discuss_post
        where status != 2
        <if test="userId != 0">and user_id = #{userId}</if>
        limit #{start}, #{end};
    </select>

    <select id="selectDiscussPostsCount" resultType="java.lang.Integer">
        select count(*)
        from discuss_post
        where status != 2
        <if test="userId != 0">and user_id = #{userId}</if>
    </select>

    <insert id="insertDiscussPost">
        insert into discuss_post(<include refid="insertFields"/>) values(#{userId}, #{title}, #{content}, #{type}, #{status}, #{commentCount}, #{createTime}, #{score})
    </insert>

    <select id="selectDiscussPostById" resultType="discussPost">
        select <include refid="selectFields"/> from discuss_post where id = #{id}
    </select>
</mapper>